MONGO_URI=mongodb://yasalapuiswarya_db_user:0SAiX0Z7iCHrBTfG@ac-5xximit-shard-00-00.psavjrm.mongodb.net:27017,ac-5xximit-shard-00-01.psavjrm.mongodb.net:27017,ac-5xximit-shard-00-02.psavjrm.mongodb.net:27017/?ssl=true&replicaSet=atlas-hsrkha-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=houserent_super_secret_change_me
PORT=8000
